<div class="sl-dialog-container-inner">
  <div class="sl-flex sl-main-space-between sl-dialog-title">
    <div *ngIf="showTitle">{{ title }}</div>
    <!-- Adding a closeModal class for scenario when there is no title for te modal, so that close modal button still stays on the right side-->
    <div [ngClass]="{'closeModal' : !showTitle}" class="sl-flex sl-cross-end " >
      <button class="sl-flex sl-button" mat-dialog-close="{{closeEvent.getValue()}}"><mat-icon class="whiteFont">clear</mat-icon></button>
    </div>
  </div>
  <div class="sl-dialog-main">
    <div class="sl-dialog-content">
      <div class="sl-dialog-content-main">
        <div appCtrlFactory *ngFor="let comp of dynCompData.dynComps" [model]="comp" (closeEvent)="closeEventValue($event)"></div>
      </div>
    </div>
  </div>
  <button *ngIf="showCancelBttn" type="button" mat-raised-button class="cta-2 cancel" mat-dialog-close="{{closeEvent.getValue()}}">Close</button>
</div>
