<div class="row">
  <div class="col-sm-12 col-md-12 col-xl-12 image">
     <img src="assets/img/artboard-1.png"
     srcset="assets/img/artboard-1@2x.png 2x,
             assets/img/artboard-1@3x.png 3x"
     class="sl-banner">
        <div class="textOverImage">
          <i class="material-icons">block</i>
          <h2>You do not have access to this Page</h2>
          <h5>
            <p>To request access, please contact <a href="mailto:dsahni@visa.com??subject=Request Access to ShiftLeft Portal&body=Hi,I would like to request access to Shiftleft Portal">Sahni, Dineshwar</a></p>
          </h5>
        </div>
    </div>
</div>

